.appWrap {
    margin: 5rem 2rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 5rem 2.5rem;
}

header {
  margin-bottom: 6rem;
}

h1 {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: ghostwhite;
}

h1 span {
    color: #d3f9d9;
    letter-spacing: 0.15rem;
    font-size: 1.1em;
}

.inlineRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.mapInfoBundle {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 2200px) {
    .appWrap {
        margin: 6rem 2rem 0;
        padding: 7rem 2.5rem;
    }

    header {
        margin-bottom: 8rem;
      }
}