.appWrap {
    margin: 2% 2rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 3rem 2rem;
}

header {
  margin-bottom: 6rem;
}

h1 {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: ghostwhite;
}

h1 span {
    color: #d3f9d9;
    letter-spacing: 0.15rem;
    font-size: 1.1em;
}

.inlineRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.mapInfoBundle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-top: 2%;
    color: ghostwhite;
}

footer a {
    padding: 0 1rem;
}

footer a:hover {
    cursor: pointer;
    transform: scaleX(-1);
}

@media screen and (min-width: 2200px) {
    .appWrap {
        margin-top: 3%;
        padding: 6rem 3rem;
    }

    header {
        margin-bottom: 8rem;
      }

    footer img {
        height: 4rem;
    }
}