.mapContainer {
    display: flex;
    justify-content: center;
}

.svg1 {
    display: none;
}

.svg2 {
    display: block;
}

path:hover {
    fill: black;
}

@media screen and (min-width: 2200px) {
    .svg1 {
        display: block;
    }

    .svg2 {
        display: none;
    }
}