path {
    fill: #d3f9d9;
    stroke: rgb(49, 49, 49);
    stroke-width: 0.25;
}

path:hover {
    fill: black;
    cursor: pointer;
}

@media screen and (min-width: 2200px) {
    svg {
       height: 720px;
    }
}