html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #123524;
  }

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

img:hover, button:hover {
    cursor: pointer;
}